<div class="flex flex-col dark:text-white border border-slate-300 rounded-md p-5">
    <p>Please add your products and click on Create:</p>

    <h1 class="text-5xl font-bold text-center my-3">
        Invoice Result<br/>
        <span class="text-xl">
            Invoice number: #<%= @invoice.id %>
        </span>
    </h1>
    <div class="flex flex-row justify-end">
        <div class="text-xl flex flex-col border border-slate-300 rounded-md p-3 text-right">
            <span>Client id: #<%= @invoice.customer_id %></span>
            <span>Client Name: My name</span>
            <span>Client RFC: <%= @invoice.customer.rfc %></span>
        </div>
    </div>

    <div class="flex flex-col my-5">
        <h5 class="text-xl my-3 font-bold">Invoice services:</h5>
        <div class=" flex flex-col border border-slate-300 rounded-md p-3">
                <% @invoice.invoice_items.each do |item| %>
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2"><span class="font-bold">Quantity: </span><%= item.quantity %></div>
                        <div class="flex gap-2"><span class="font-bold">Name: </span><%= item.product.name %></div>
                        <div class="flex gap-2"><span class="font-bold">Description: </span><%= item.product.description %></div>
                        <div class="flex gap-2"><span class="font-bold">Unit Price: </span><%= number_to_currency(item.product.unit_price) %></div>
                        <div class="flex gap-2"><span class="font-bold">Amount: </span><%= number_to_currency(item.amount) %></div>
                    </div>
                <% end %>

        </div>
    </div>

    <div class="my-5 flex flex-col pl-3 gap-2">

        <div class="flex flex-row gap-2">
            <h5 class="font-bold">Sub Total</h5>
            <p><%= number_to_currency(@invoice.subtotal) %></p>
        </div>

        <div class="flex flex-row gap-2">
            <h5 class="font-bold">IVA</h5>
            <p><%= number_to_currency(@invoice.tax) %></p>
        </div>

        <div class="flex flex-row gap-2">
            <h5 class="font-bold">Total</h5>
            <p><%= number_to_currency(@invoice.total) %></p>
        </div>
    </div>
    <div class="flex flex-row gap-5 mt-5">
        <%= link_to 'Back to home', root_path, class: 'bg-yellow-300 py-2 px-2.5 rounded-md text-black shadow-md' %>
        <%= link_to 'Create new invoice', new_invoice_path, class: 'bg-blue-500 py-2 px-2.5 rounded-md text-black shadow-md' %>
        <button class="bg-green-500 py-1.5 px-2.5 rounded-md text-white shadow-md">Generate PDF</button>
    </div>
</div>
