<h1>Invoice Generated</h1>
<div>
    <h5>
        Invoice number: <%= @invoice.id %>
    </h5>
    <h5>
        Client number: <%= @invoice.customer_id %>
    </h5>
</div>

<div>
    <h5>Sub Total</h5>
    <%= number_to_currency(@invoice.sub_total) %>
</div>

<div>
    <h5>IVA</h5>
    <%= number_to_currency(@invoice.tax) %>
</div>

<div>
    <h5>Total</h5>
    <%= number_to_currency(@invoice.total) %>
</div>
