<!DOCTYPE html>
<html>
  <head>
    <title>InterviewProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-slate-950">
    <%= render 'layouts/partials/flash' %>
    <main class="mx-auto w-full h-screen justify-center items-center flex">
      <%= yield %>
    </main>
  </body>
</html>
